@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(185, 75%, 39%);
}

body .svg-top {
    position: fixed;
    top: -80%;
    left: -20%;
}

body .svg-bottom {
    position: fixed;
    bottom: -90%;
    right: -20%;
}

main {
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 52%;
    border-radius: 1rem;
}

main > .writeback {
    background-color: hsl(185, 75%, 50%);
    width: 100%;
    height: 45%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-image: url(../images/bg-pattern-card.svg);
}

main > .writeback > img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
    border: 5px solid #FFF;
    border-radius: 5rem;
}

main > .background {
    width: 100%;
    margin-top: -1.9rem;
    background-color: #FFF;
    height: 65%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

main > .background > .name {
    color: hsl(229, 23%, 23%);
    padding-top: 3.7rem;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}

main > .background > .name > span {
    margin-left: .5rem;
    color: hsl(0, 0%, 59%);
    width: 100%;
    font-weight: 400;
    
}

main > .background .live {
    margin-top: .7rem;
    text-align: center;
    font-size: 1rem;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 0%, 59%);
}

hr {
    margin-top: 1.5rem;
}

main .description {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}

main .description .number {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    font-family: 'Kumbh Sans', sans-serif;
}

main .description .item {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: .7rem;
    font-weight: 400;
    margin-top: .5rem;
    color: hsl(0, 0%, 59%);
    text-align: center;
    letter-spacing: 1.5px;
}

.attribution {
    font-family: 'Nunito Sans', sans-serif;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.7rem;
    color: #FFF;
}

.attribution a {
    text-decoration: none;
    color: hsl(229, 23%, 23%);
}